<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <a href="/profile">Profile</a>
    <script>
        fetch('/check',{
            method:"GET",
            credentials:"include"
        })
        .then(res => res.json())
        .then(data => {
            if(!data.status){
                window.location.href = "/"
            }
        })
    </script>
</body>
</html>